<h3>Update Employee</h3>
<div style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">account_no</label>
      <input type="text" class="form-control" id="account_no" required [(ngModel)]="mLoan.account_no" name="account_no">
    </div>

    <div class="form-group">
      <label for="name">disbursedon_date</label>
      <input type="data" class="form-control" id="disbursedon_date" required [(ngModel)]="mLoan.disbursedon_date" name="disbursedon_date">
    </div>


    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>
